* {
    margin: 0px;
    padding: 0px;
    /* background-color: #e5e5fd; */
    box-sizing: border-box;
}

.container {
    background-color: #b0b0e3;
    min-height:100vh;
    border: 10px solid navy;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}
.top-sec{
    margin-top:100px ;
    display: flex;
    align-items: flex-end;
    justify-content: space-between

}
.top-sec, h1{
    font-size: 40px;
    font-weight: bold;
    color: #1d1e1d;
    text-transform: uppercase;
}
.top-sec, h6{
    text-align: end;
}

.image-container, img{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin-left: 20px;
}
.about-sec{
    margin: 50px;
}
.about-sec h2{

    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}
.about-sec, p{
    font-size: small;
    line-height: 20px;
    letter-spacing: 1px;
    
}
.bio-sec{
    margin-top: 50px;
   

}
.bio-sec, h3{
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 500;
}
.bio-sec ul{
    margin-left: 20px;
    
}
.bio-sec li{
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 8px;
    
}
footer{
    margin: 50px 0;
}
footer p{
    color: blue;
    text-align: end;
}